.news-block {
    background: #F5F3F1;
    width: 100%;
    padding-bottom: 100px;
}
.news-block{
    .news-big-item{
        max-width: 555px;
        margin-right: 15px;
        a{
            margin-top: -18px;
        }
    }
    .news-item   .read-more-a{
        margin-top: -36px;
    }
}
.news-item {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(171, 171, 171, 0.3);
    border-radius: 10px;
    height: 192px;
    padding: 30px 35px;
    margin-bottom: 30px;
    transition: 0.3s ease;
   &:hover{
    box-shadow: 0px 5px 10px rgba(171, 171, 171, 0.4);

   }

    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        width: 95%;
        overflow: hidden;
    }

    h3 {
        width: 405px;
        font-weight: normal;
        font-size: 22px;
        line-height: 150%;
        color: #000000;
    }
  
    a {
        position: absolute;
        right: 45px;
        margin-top: -29px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #000000;
    }
}
.date{
    margin-bottom: 7px;
}
.news-big-item {
    padding: 40px 35px 10px 35px;
    height: 414px;
    a {
        right: 30px;
    }
}
.archive-news{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #000000; 
    text-align: right;
    width: 100%;
    margin-right: 20px;
    margin-top: 20px;
    a{
        text-decoration-line: underline;
    }
}


#map{
    width: 100%;
    height: 920px;
}
.contact-info{
    display: flex;
    justify-content: space-between;
    padding: 40px 35px;
    color: #000000;
    background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(171, 171, 171, 0.3);
border-radius: 10px;
margin-top: -240px;
position: relative;
z-index: 1;
}
.info-item{
    h4{
        font-weight: 500;
font-size: 18px;
line-height: 18px;
    }
    p{
        font-weight: 300;
font-size: 18px;
line-height: 150%;
margin-bottom: 0px;
    }
}
.rules-services{
    margin-top: 110px;
    margin-bottom: 100px;
    p{
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: #000000;  
    }
    a{
        font-weight: 500;
font-size: 18px;
line-height: 130%;
text-decoration-line: underline;
    }
}
footer{
    background: #0B3661;
    color: #FFFFFF;
}
.footer-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px 0px;
    font-weight: normal;
font-size: 16px;
line-height: 16px;
.svg{
    transition: 0.3s ease;
    &:hover{
margin-top: -5px;
opacity: 0.8;
    }
}
}
@media (max-width: 1305px){
    .footer-block{
    
        padding: 29px 50px;
    }
}
@media (max-width: 1199px){
    
    .news-block{
        .news-item   .read-more-a{
            margin-top: -19px;
        }
        .read-more-a{
            margin-top: -9px;
        }
        .news-item p {
            font-weight: 300;
            font-size: 17px;
     
            width: 95%;
        }
        .news-item a{
            margin-top: -10px;
        }
        .news-big-item{
            margin-right: 0px;
        }
        .news-big-item a{
            margin-top: -15px;
        }
    }
    #map{
 
        height: 620px;
    }
   .news-item{
    a {
 
        right: 35px;
        margin-top: -20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
   
    }
   }
   .news-big-item {
 
    a {
        right: 20px;
    }
}
.contact-info{
 
margin-top: -240px;
 
}
.info-item{
    h4{
 
font-size: 16px;
 
    }
    p{
 
font-size: 15px;
 
    }
}
}

@media (max-width: 991px){
    .news-block{
        .news-item   .read-more-a{
            margin-top: -9px;
        }
        .news-item p {
            font-weight: 300;
            font-size: 17px;
     
            width: 97%;
        }
        .news-item h3{
            font-size: 22px;
        }
        .news-item a{
            margin-top: -10px;
        }
        .news-big-item a{
            margin-top: 33px;
        }
    }
    .news-item {
        height: auto;
        h3 {
            width: 90%;
  
        }
        a {
 
            right: 35px;
            margin-top: -10px;
         
       
        }
       }
        .news-big-item{
            height: auto;
            a {
                right: 16px;
            }
        }
   
            .info-item{
                margin-left: 10px;
                margin-right: 10px;
                h4{
             height: 40px;
            font-size: 16px;
             
                }
                p{
             
            font-size: 12px;
             
                }
            }
}
@media (max-width: 767px){
    
    .news-block{
        .news-item{
            margin-bottom: 20px;
        }
        .news-big-item{
            padding-bottom: 30px;
        }
        .news-big-item a{
            margin-top: -4px;
        }
    }
    .footer-block{
        padding: 29px 25px 29px 0px;
    }
    #map{
 
        height: 520px;
    }
    .news-item {
        display: none;
    }
    .news-big-item{
      display: block;
      a {
        right: 20px;
        margin-top: -26px;
    }
    }
    .contact-info{
        padding-bottom: 20px;
       flex-wrap: wrap;
 
        }
        .info-item{
            width: 180px;
           margin-left: 0px;
           margin-right: 20px;
            h4{
         height: auto;
        font-size: 16px;
            }
            p{
         padding-bottom: 10px;
        font-size: 15px;
         
            }
        }
}
@media (max-width: 575px){
    .news-block{
        .news-big-item a{
            // margin-top: -4px;
            bottom: 15px;
        }
    }
    .footer-block{
     
        padding: 18px 0px 0px;
        flex-direction: column;
        div{
            margin-bottom: 18px;
        }
    }
    #map{
 
        height: 320px;
    }
    .rules-services{
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        p{
            font-weight: 300;
            font-size: 16px;
            line-height: 130%;

        }
        a{
    
    font-size: 16px;
 
        }
    }
    .contact .container{
     padding-left: 0px;
     padding-right: 0px;
    }
    .contact-info{
        padding: 20px 15px 7px 15px;
flex-wrap: wrap;
 margin-top: 0px;
border-radius: 0px;
        }
   .news-big-item{
  margin-left: 20px;
  margin-right: 20px;
padding: 20px;
  p{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #464646;
  }
  h3{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
  }
  a {
    right: 20px;
    margin-top: -13px;
}
  }
  .adapt-text-new{
      display: none;
  }
  .archive-news{
    margin-top: 0px;
    font-size: 16px;
    margin-right: 4px;
  
}
.news-block {
    padding-bottom: 40px;
}
}
 
@media (max-width: 485px){
.news-block .news-big-item a{
margin-top: -15px;
}
}
 