.home-atribute {
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;
    color: #000000;
    padding-top: 50px;
    margin-left: -14px;
    a {
        text-decoration: underline;
        transition: 0.3s ease;
        // &:hover{
        // border-bottom: 0.6px solid transparent;

        // }
    }

    span {
        text-decoration: underline;
    }
}

.tarif-txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 49px;
}

.tarif-internet {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 10px 20px rgba(171, 171, 171, 0.3));

    .tarif-item1 {
        background: #34a0d9;
        color: #ffffff;
        border-radius: 10px 0px 0px 10px;
        // filter: drop-shadow(0px 10px 20px rgba(171, 171, 171, 0.3));
    }

    .tarif-item2 {
        position: relative;
        z-index: 9;
        background-color: white;

        // box-shadow: 0 -5px 10px -15px rgba(171, 171, 171, 0.2),
        // 0px -2px 9px rgba(171, 171, 171, 0.2);
    }

    div {
        margin-left: 2px;
        cursor: pointer;
        width: 220px;
        height: 60px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        padding-top: 15px;
        color: #ababab;
        background-color: white;
        transition: 0.4s ease;

        // &:hover {
        //     background: #34a0d9;
        //     color: #ffffff;
        // }
    }
}

.tarif-internet div:last-of-type {
    border-radius: 0px 10px 10px 0px;
    // filter: drop-shadow(0px 10px 20px rgba(171, 171, 171, 0.3));
}

.privat-home {
    .home-internet {
        justify-content: center;
    }
}
.privat-block-adap {
    margin-left: 35px;
    .home-internet {
        margin-left: 0;
    }
}
#for-tarif {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    position: absolute;
    color: #464646;
    margin-left: 0px;
    margin-top: 9px;
}
#connect_tv204 {
    .choose-speed {
        margin-top: 45px;
    }
}
@media (min-width: 500px) {
    #ch-business-law {
        .modal-dialog {
            max-width: 440px;
            margin: 1.75rem auto;
        }
    }
    #business-law {
        .modal-dialog {
            max-width: 440px;
            margin: 1.75rem auto;
        }
    }
}
.business-law {
    padding-top: 150px;

    .home-internet {
        padding-bottom: 30px;
    padding-left: 20px;
        justify-content: center;
    }
}
.backgroung-law {
    position: absolute;
    left: 0;
    margin-top: 100px;
    z-index: -1;
    background: #f5f3f1;
    height: 845px;
    width: 100%;
}
.home-internet {
    display: flex;
    margin-top: 51px;
    justify-content: space-between;
    margin-left: -15px;
}
.home-internet div:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px;
}
.home-internet-wrap:hover .home-internet-item {
    transform: translateY(-10px);
}

.home-internet-item {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(171, 171, 171, 0.3);
    border-radius: 10px;
    height: 100%;
    width: 360px;
    text-align: center;
    // margin-left: 10px;
    // margin-right: 10px;
    transition: 0.4s ease;
    // &:hover{
    //     transform: translateY(-10px);
    // box-shadow: 0px 5px 8px rgba(171, 171, 171, 0.3);

    // }
}

// .home-internet-item:hover .home-internet-ecl {
//     transform: rotate(1turn);
// }

.home-internet-ecl {
    margin-top: -145px;
    // transition: 3s ease;
    // animation: circle 2.5s ease-in-out;
}

// @keyframes circle {
//     100% {
//         transform: rotate(1turn);
//     }
// }

.text-m-bit {
    position: absolute;
    margin-top: -186px;
    width: 360px;
    text-align: center;
    color: #000000;

    h3 {
        font-weight: normal;
        font-size: 72px;
        line-height: 74px;
        // font-family: 'Montserrat', sans-serif;
    }

    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        // font-family: 'Montserrat', sans-serif;
    }
}

.home-int-grn {
    p {
        padding: 20px 0px;
        font-weight: normal;
        font-size: 22px;
        line-height: 150%;
        text-align: center;
        color: #000000;
    }

    button {
        background: #34a0d9;
        border-radius: 3px;
        width: 160px;
        height: 60px;
        font-weight: 500;
        font-size: 18px;
        // line-height: 150%;
        text-align: center;
        color: #ffffff;
        margin-bottom: 45px;
        transition: 0.3s ease;
        padding: 14px 0px 16px 0px;

        &:hover {
            filter: drop-shadow(0px 0px 10px rgba(52, 160, 217, 0.4));
        }

        &:active {
            background: #0b3661;
        }
    }
}

.home-internet-text {
    color: #000000;
    margin-top: 50px;

    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
    }

    span {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #000000;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    strong {
        font-weight: 500;
    }

    li {
        list-style-type: initial;
        list-style-position: inside;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 10px;
    }
}

//modal
.modal-body1 {
    padding-left: 0px;
    padding-right: 0px;
}

.modal-header1 {
    border: none;

    h5 {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        white-space: nowrap;
        margin-top: 30px;
        margin-left: 13px;
    }

    .close {
        position: absolute;
        margin-top: -25px;
        right: 10px;
    }
}

.modal-foote1r {
    border: none;
}

.adapt-speed {
    margin-top: 25px;
}

.choose-speed {
    padding-left: 35px;
    color: #000000;

    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 2px;
    }

    span {
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 2px;
    }
}

.custom-selects-tarif {
    width: 320px;
    margin-left: 0px;
    margin-top: 0px;

    .select-selected {
        width: 320px;
    }

    .select-items {
        width: 100%;
        margin-left: 0px;
    }
}

.svg-select-i {
    position: absolute;
    right: 10px;
    margin-top: 8px;
    pointer-events: none;
}

.svg-select-2 {
    position: absolute;
    right: 10px;
    margin-top: 8px;
}

.text-speed {
    padding-left: 35px;
    margin-top: 10px;
    padding-right: 30px;

    p {
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: #464646;
        margin-bottom: 6px;
    }
}

.box-show-check {
    // position: absolute;
    margin-top: 3px;
    filter: drop-shadow(0px 4px 10px rgba(171, 171, 171, 0.4));
    background: #ffffff;
    border-radius: 3px;
    width: 320px;
    height: 172px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #464646;

    div {
        padding: 5px 10px 0px 10px;
    }

    div:hover {
        border-radius: 10px;

        background: #f5f3f1;
    }
}

.checkbox input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    // margin-left: -20px;
}

.checkbox label {
    cursor: pointer;
    position: relative;
    padding: 4px 0px 5px 0px;
}

.checkbox label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;

    width: 16px;
    height: 16px;
    transition: transform 0.28s ease;
    border: 1px solid #ababab;
    border-radius: 2px;
}

.checkbox label:after {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 4.5px;
    margin-top: 10px;
    left: 3px;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    // min-height: 14px;
    display: block;
    padding-left: 23px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;

    color: #464646;
}

.checkbox label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}

input[type="checkbox"]:checked + label:before {
    background: #34a0d9;
    border: #34a0d9;
}

.connect-dropt {
    color: #000000;
    background: #ffffff;
    border: 1px solid #ababab;
    border-radius: 3px;
    width: 320px;
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 16px;

    span {
        display: none;
    }
}

.connect-dropt span:first-of-type {
    display: inline;
}

.svg-dropt {
    margin-top: 3px;
    position: relative;
    transition: 0.3s ease;
    border-radius: 30%;
    margin-right: 6px;

    background-color: white;
    float: right;
}

.box-show-check {
    display: none;
}

.show-actions {
    display: flex;
    justify-content: flex-start;

    p {
        margin-top: 9px;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 2px;
    }
}

.about-action {
    margin-top: 32px;
    z-index: 5;
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        margin-left: 18px;
        text-decoration-line: underline;
        color: #000000;
        transition: 0.3s ease;
    }
}

.actions-offers {
    cursor: pointer;

    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    background: #fbd060;
    width: 100%;
    height: auto;
    padding: 15px 35px;
    left: 0;
    color: #000000;
    margin-top: 10px;
}

.svg-actions {
    transition: 0.3s ease;
}

.action-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-actions {
    display: none;
}

.tv-box {
    background: #f5f3f1;
    padding: 15px 35px;
    color: #000000;
    cursor: pointer;
}

.tv-text {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.total-cost {
    padding-left: 35px;
    margin-top: 15px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000000;

    span {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        margin-left: 20px;
    }
}

.box-mobile {
    display: flex;
    justify-content: flex-start;
}

.about-tarif {
    margin-left: 18px;
    margin-top: 5px;

    a {
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        text-decoration-line: underline;
        color: #000000;
    }
}

.tv-item {
    margin-top: 15px;
    .custom-selects-tarif .select-selected {
        padding-right: 20px;
        overflow: hidden;
    }
    .select-items {
        // padding-right: 20px;
        font-size: 16px;
    }
    p {
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 2px;
    }

    span {
        font-weight: normal;
        font-size: 12px;
    }
}

.mobile-connect {
    margin-top: 30px;
}

.tv-show {
    display: none;
}

.show-move-friend {
    .form-connect {
        padding-left: 0px;
        margin-top: 6px;

        p {
            font-weight: 300;
            font-size: 12px;
            line-height: 150%;
        }
    }
}

.form-connect {
    padding-left: 35px;
    margin-top: 30px;

    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 0px;
        color: #000000;
    }

    label {
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        display: flex;
        align-items: center;
        margin-top: 9px;
        margin-bottom: 0px;
        color: #000000;
    }

    input {
        width: 320px;
        height: 40px;
        background: #ffffff;
        border: 1px solid #ababab;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 7px 10px;
        font-weight: 300;
        font-size: 18px;
        // line-height: 150%;
        color: #000000;

        &::placeholder {
            font-weight: 300;
            font-size: 18px;
            // line-height: 150%;
            display: flex;
            align-items: center;
        }
    }
}

#mask-phone {
    &::placeholder {
        font-weight: 300;
        line-height: 150%;
        display: flex;
        align-items: center;
        background: -webkit-linear-gradient(left, #646464);
        background: -o-linear-gradient(right, #646464);
        background: -moz-linear-gradient(right, #646464);
        background: linear-gradient(to left, #646464 86%, #000000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.footer-modal {
    padding-left: 35px;
    margin-top: 40px;
    margin-bottom: 30px;

    button {
        width: 160px;
        padding: 14px 0px 17px 0px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #34a0d9;
        transition: 0.4s ease;

        &:hover {
            filter: drop-shadow(0px 0px 10px rgba(52, 160, 217, 0.4));
        }
    }

    .order {
        background: #34a0d9;
        color: #ffffff;
    }

    .authorization {
        margin-left: 30px;
        color: #34a0d9;
        background: #ffffff;
        border: 1px solid #34a0d9;
    }
}

.svg-show {
    transition: 0.3s ease;
}

.btn-back {
    display: none;
}

.show-move-friend {
    display: none;
}

.privat-home {
    display: none;

    .home-internet-text {
        text-align: center;
    }
}

.txt-privat-home {
    display: none;
}

.footer-other {
    margin-top: 100px;
}

.txt-business-home {
    display: none;
}

.business {
    display: none;
    .tarif-txt {
        font-size: 18px;
    }
    .home-internet {
        margin-left: -48px;
    }
}
.business-law .home-internet {
    margin-left: 21px;
}
.block-home-internet .home-internet-text{
    margin-left: -14px;
}
@media (max-width: 1199px) {
   .business .business-law .home-cont-internet {
        .home-internet {
            margin-left: 10px;
        }
        .home-internet div:first-of-type {
            margin-right: 20px;
        }
    }
    .business {
        .home-cont-internet .home-internet div:first-of-type {
            margin-right: 0px;
        }
    }
    .privat-block-adap {
        margin-left: 30px;
        .home-internet div:first-of-type {
            margin-right: 20px;
        }
    }
    .home-internet {
        margin-left: -15px;
    }
    .home-internet div:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .home-internet-item {
        width: 290px;

        .svg {
            // margin-top: -20px;
            width: 100%;
        }
    }

    .text-m-bit {
        width: 290px;
    }

    .home-int-grn {
        button {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 991px) {
    .block-home-internet .home-internet-text{
        margin-left: -25px;
    }
    .business .business-law .home-cont-internet {
        .home-internet {
             
                margin-left: auto;
                margin-right: auto;
            
        }
        .home-internet div:first-of-type {
            margin-right: 5px;
        }
    }
    .privat-block-adap {
        .home-internet div:first-of-type {
            margin-right: 5px;
        }
    }
    .business {
        .home-cont-internet .home-internet div:first-of-type {
            margin-right: 5px;
        }
        .home-cont-internet .home-internet div {
            margin-right: 5px;
        }
    }
    .footer-other {
        margin-top: 40px;
    }
    .business-law {
        padding-top: 120px;

        .home-internet {
            justify-content: center;
        }
    }
    .backgroung-law {
        position: absolute;
        left: 0;
        margin-top: 100px;
        z-index: -1;
        background: #f5f3f1;
        height: 585px;
        width: 100%;
    }

    .home-internet {
        margin-left: -32px;
    }
    .home-internet div:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .home-internet-item {
        height: 383px;
        width: 240px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        .home-internet-ecl {
            margin-top: -110px;
        }
        .svg {
            object-fit: cover;
            width: 100%;
        }
    }

    .text-m-bit {
        text-align: center;
        margin-left: 69px;
        margin-top: -118px;
        width: 100px;
        h3 {
            font-size: 48px;
            line-height: 50px;
            margin-bottom: 0px;
        }
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
        }
    }

    .home-int-grn {
        p {
            padding: 20px 0px 10px 0px;

            font-size: 18px;
        }

        button {
            margin-bottom: 25px;
        }
    }

    .home-internet-ecl {
        width: 170px;
    }
}

@media (max-width: 867px) {
    .block-home-internet .home-internet-text{
        margin-left: 5px;
    }
    .business .home-internet {
        margin-left: 0px;
        
    }
    .privat-block-adap {
        margin-left: 10px;
        .home-internet div:first-of-type {
            margin-right: 10px;
        }
    }
    .backgroung-law {
        height: 602px;
        // margin-top:25px;
    
    }
    .home-internet {
        margin-left: 0px;
        padding-left: 5px;
    }
    .home-internet-item {
        .home-internet-ecl {
            margin-top: -100px;
        }
        .svg {
            object-fit: cover;
            width: 100%;
        }
    }

    .tarif-internet {
        align-items: center;
        margin-bottom: 20px;
    }
.business .tarif-txt{
    margin-top: 40px;
}
    .privat-home {
        .home-internet {
            width: 510px;
            margin-top: 0px;
            padding-bottom: 20px;
            overflow: hidden;
            margin: 0 auto;
        }
    }
    .business-law {
         .tarif-txt{
            margin-top: 0px;
        }
        .home-internet {
            width: 500px;
            margin-top: 0px;
            padding-bottom: 30px;
            overflow: hidden;
            margin: 0 auto;
        }
    }
    .home-internet {
        padding-top: 20px;
        width: 760px;
        margin-top: 0px;
        padding-bottom: 30px;
        overflow: hidden;
    }

    .home-cont-internet {
        overflow-x: scroll;
    }

    .text-m-bit {
        position: relative;
    }

    .home-int-grn {
        p {
            padding: 40px 0px 10px 0px;

            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .privat-block-adap {
        margin-left: 0px;
        .home-internet div:first-of-type {
            margin-right: 7px;
        }
    }
    .tarif-internet {
        div {
            width: 220px;
            height: 53px;
            font-weight: 500;
            font-size: 12px;
        }
    }
}

@media (max-width: 575px) {
    .home-cont-internet {
  
        margin-right: -15px;
    }
    .backgroung-law {
      margin-top:25px;
        
    }
    .privat-home {
        .home-internet-text {
            text-align: left;
            font-size: 16px;
        }
    }
    .business-law {
        padding-top: 60px;
    }
    .tarif-txt {
        margin-top: -10px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .home-atribute {
        display: none;
    }

    .btn-back {
        padding-top: 8px;
        display: block;
    }
    .privat-block-adap,
.block-home-internet{
    .home-internet-text{
        margin-top: 0px;
    }
    .home-internet-text p {
     
        margin-top: 10px;
        
    }
}
    .home-internet-text {
        color: #000000;
        margin-top: 30px;

        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        a {
            font-weight: 500;
            font-size: 16px;
        }

        strong {
            font-weight: 500;
        }

        li {
            margin-left: 20px;

            list-style-position: outside;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 532px) {
    .tarif-internet {
     
        margin-left: -11px;
        margin-right: -11px;
    }
    .choose-speed {
        padding-left: 10px;
    }

    .text-speed {
        padding-left: 10px;
        padding-right: 10px;
    }

    .actions-offers {
        padding-left: 10px;
        padding-right: 10px;
    }

    .tv-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    .total-cost {
        padding-left: 10px;
        font-size: 16px;

        span {
            font-size: 16px;
        }
    }

    .form-connect {
        padding-left: 10px;
    }

    .footer-modal {
        padding-left: 10px;
    }

    .modal-header1 h5 {
        text-align: left;
        margin-left: 0px;
        white-space: normal;
    }

    .modal-header1 {
        padding-bottom: 0px;
        padding-top: 10px;
    }
}

@media (max-width: 476px) {
    .tv-item {
        .select-items div {
            font-size: 14px;
        }
    }
    .modal-header1 h5 {
        width: 240px;
    }

    .show-actions {
        flex-direction: column;
    }

    .box-mobile {
        flex-direction: column;
    }

    .about-tarif {
        margin-left: 0px;
    }

    .about-action {
        margin-top: 4px;

        a {
            margin-left: 0px;
        }
    }

    .mobile-connect {
        margin-top: 15px;
    }

    .modal-header1 {
        padding-left: 10px;
        margin-top: -20px;

        .close {
            margin-top: 10px;
            right: 6px;
        }
    }
}

@media (max-width: 459px) {
    .tarif-internet {
        div {
            padding-left: 19px;
            padding-right: 19px;
            padding-top: 8px;
        }

        .tarif-item3 {
            padding-top: 16px;
        }
    }

    .custom-selects-tarif {
        max-width: 270px;

        .select-selected {
            max-width: 270px;
        }
    }

    .adapt-speed {
        margin-top: 15px;
    }

    .connect-dropt {
        max-width: 270px;
        padding-right: 18px;
        // overflow: hidden;
        font-size: 12px;
        font-weight: 400;
    }

    .svg-dropt {
        margin-top: 3px;
        position: relative;
        transition: 0.3s ease;
        border-radius: 30%;
        margin-right: -6px;

        background-color: white;
    }

    .box-show-check {
        max-width: 270px;
        height: 150px;
    }

    .box-show-check .checkbox label {
        font-size: 12px;
        line-height: 25px;
        font-weight: 400;
    }

    .box-show-check div {
        padding: 3px 7px 0px 8px;
    }

    .box-show-check .checkbox label:before {
        margin-top: 8px;
    }

    .box-show-check .checkbox label:after {
        margin-top: 8px;
    }

    .form-connect {
        margin-top: 15px;

        input {
            width: 270px;
            font-size: 14px;

            &::placeholder {
                line-height: 14px;
                font-size: 14px;
            }
        }
    }

    #mask-phone {
        &::placeholder {
            color: #ababab;

            background: #646464;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media (max-width: 394px) {
    .footer-modal {
        padding-left: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 5px;

        button {
            width: 94%;
            height: 46px;
            padding: 0;
        }

        .authorization {
            margin-top: 10px;
            margin-left: 0px;
        }
    }
}
