.home-atribute {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    margin-top: 50px;

    a {
        text-decoration: underline;
    }

    span {
        text-decoration: underline;

    }
}

.tarif-txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 49px;
}

.tarif-internet {
    display: flex;
    justify-content: center;

    div {
        width: 220px;
        height: 60px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        padding-top:15px;
        filter: drop-shadow(0px 10px 20px rgba(171, 171, 171, 0.3));
    }
}
.tarif-item2{
    color: #ABABAB;

}
.tarif-item1 {
    background: #34A0D9;
    color: #FFFFFF;
}