#my_office {
    .modal-header1 h5 {
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
    .modal-content {
        max-width: 360px;
    }
    .modal-dialog {
        max-width: 360px;
    }
    .modal-body1 {
        padding-top: 8px;
    }
}

.modal {
    color: #000000;
    .close {
        opacity: 1;
    }
}

.modal-content {
    border-radius: 20px;
}
.form-my_office label:last-of-type{
    font-size: 16px;
  }
.form-my_office {
    width: 225px;
    margin: 0 auto;
    label {
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #000000;
    }
    #save-pass {
        width: 16px;
        height: 16px;
    }
    input {
        padding-left: 10px;
        padding-right: 10px;
        background: #ffffff;
        width: 225px;
        height: 40px;
        border: 1px solid #ababab;
        margin-bottom: 16px;
        border-radius: 10px;
        &::placeholder {
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            color: #ababab;
        }
    }
    .checkbox{
        margin-top: -9px;
        margin-bottom: 20px;
    }
    .enter-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        button{
            margin-bottom: 20px;
            width: 225px;
            // height: 40px;
padding-top: 6px;
padding-bottom: 9px;
            background: #34A0D9;
border-radius: 10px;

color: white;
        }
    }
}
@media (max-width: 575px) {
    #my_office {
    
        .modal-content {
            max-width: 360px;
        }
        .modal-dialog {
            max-width: 360px;
            margin: 0 auto;
        }
    }
}
