#my_office {
    .modal-header1 h5 {
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
    .modal-content {
        max-width: 360px;
    }
    .modal-dialog {
        max-width: 360px;
    }
    .modal-body1 {
        padding-top: 8px;
    }
}

.modal {
    color: #000000;
    .close {
        opacity: 1;
    }
}

.modal-content {
    border-radius: 10px;
}
// .form-my_office label:last-of-type{
//     font-size: 16px;
//   }
.form-my_office .checkbox label{
    line-height: 28px;

}
.form-my_office {
    width: 225px;
    margin: 0 auto;
    label {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 0px;
    }
    #save-pass {
        width: 16px;
        height: 16px;
    }
    input {
        padding-left: 10px;
        padding-right: 10px;
        background: #ffffff;
        width: 225px;
        height: 40px;
        border: 1px solid #ababab;
        margin-bottom: 16px;
        border-radius: 3px;
        &::placeholder {
            font-weight: 300;
            font-size: 18px;
            // line-height: 150%;
            color: #ababab;
        }
    }
    .checkbox {
        margin-top: -9px;
        margin-bottom: 20px;
        label {
            cursor: pointer;
            font-size: 16px;
        }
    }
    .enter-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            margin-bottom: 20px;
            width: 225px;
            height: 40px;
            // padding-top: 6px;
            // padding-bottom: 9px;
            border-radius: 3px;
            font-weight: 500;
        }

        .enter {
            border: 1px solid #34a0d9;
            background: #34a0d9;
            color: white;
            transition: 0.3s ease;

            &:hover {
                filter: drop-shadow(0px 0px 10px rgba(52, 160, 217, 0.4));
            }
            &:active {
                background: #0b3661;
            }
        }
        .abonent {
            border: 1px solid #34a0d9;
            color: #34a0d9;
            background-color: white;
            transition: 0.3s ease;

            &:hover {
                filter: drop-shadow(0px 0px 10px rgba(52, 160, 217, 0.4));
            }
            &:active {
                background: #0b3661;
            }
        }
    }
}
// .ch-tarif {
//     .tv-box {
//         padding-top: 0px;
//     }
//     .tv-item {
//         padding-top: 10px;
//         margin-top: 10px;
//     }
//     .tv-show {
//         display: inline;
//     }
// }
.end_modal {
    .modal-content {
        max-width: 360px;
    }
    .modal-dialog {
        max-width: 360px;
    }
    .modal-header1 h5 {
        text-align: center;
        width: 290px;

        padding-top: 30px;
        margin: 0 auto;

        white-space: normal;
    }
    .on-general {
        background: #34a0d9;
        border-radius: 3px;
        width: 160px;
        height: 60px;
        padding: 14px 18px 18px 18px;
        text-align: center;
        margin: 5px 0px 15px 101px;
        transition: 0.4s ease;
        &:hover {
            filter: drop-shadow(0px 0px 10px rgba(52, 160, 217, 0.4));
        }

        &:active {
            background: #0b3661;
        }
        a {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #ffffff;
        }
    }
    .modal-body1 {
        text-align: center;
    }
}
#connect_privat-home {
    .modal-header1 h5 {
        text-align: left;
        width: 320px;
        padding-left: 20px;
        padding-top: 30px;
        margin: 0;

        white-space: normal;
    }
}
#ch-business-fop .modal-content .modal-header1 h5 {
    width: 421px;
}
#ch-business-fop {
    .total-cost {
        margin-top: 30px;
    }
}

.change_privat-tarif {
    .modal-header1 h5 {
        text-align: left;
        width: 360px;
        padding-left: 20px;
        padding-top: 30px;
        margin: 0;
        white-space: normal;
    }
}
#business-fop {
    .modal-header1 {
        span {
            display: block;
        }
        h5 {
            width: 100%;
        }
    }
    .total-cost {
        margin-top: 30px;
    }
}
.form_radio {
    margin-right: 30px;
}
.form_radio input[type="radio"] {
    display: none;
}
.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    user-select: none;
}
.form_radio label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: #ffffff;
    border: 1px solid #ababab;
    border-radius: 100px;
}

/* Checked */
.form_radio input[type="radio"]:checked + label:before {
    border-radius: 100px;
    border: 4.9px solid #34a0d9;
}
.speed-box {
    margin-top: 10px;
 
    display: flex;
    flex-direction: row;
}
/* Hover */
// .form_radio label:hover:before {
// 	filter: brightness(120%);
// }

.calculator-speed {
    margin-top: 15px;
    display: none;
    span{
        font-weight: normal;
font-size: 12px;
color: #000000;
    }
}
.calcul-box {
    input {
        padding-left: 10px;
        padding-right: 10px;
        width: 80px;
        height: 40px;
        background: #ffffff;
        border: 1px solid #ababab;
        border-radius: 3px;
        &::placeholder{
            font-weight: 300;
font-size: 18px;
 
color: #ABABAB;
        }
    }
    label{
        margin-left: 10px;
    }
}
.calcul-text{
    padding-left: 35px;
}
.calcul-text p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
font-size: 12px;
line-height: 150%;
color: #464646;
margin-right: 35px;
}
.br-fob{
    display: none;
}
.no-limit{
    font-weight: 300;
    font-size: 18px;
    margin-left: 20px;

}
 .modal-body1 .count-minutes{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 35px;
    margin-bottom: 30px;
    // .cost-tv{
    //     margin-top: 30px;
    // }
    .total-cost{
        margin-top: 0px;
     
        font-size: 18px;

        
    }
    .no-limit{
   white-space: nowrap;


    }
}
 
 
@media (max-width: 575px) {
  
    #my_office {
        .modal-content {
            max-width: 360px;
        }
        .modal-dialog {
            max-width: 360px;
            margin: 0 auto;
        }
    }
    .end_modal {
        .modal-content {
            max-width: 360px;
        }
        .modal-dialog {
            max-width: 360px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 532px) {
    .modal-content {
        border-radius: 10px;
    }
    .con-mob .modal-body1{
        .total-cost{
       
            font-size: 18px;
            span{
            font-size: 18px;

            }
        }
    }
    .calcul-text{
        padding-left: 10px;
        padding-right: 10px;
    }
    .change_privat-tarif 
    {
        .modal-header1 .close{
            margin-top: 2px;
        }
        .modal-header1 h5 {
            text-align: left;
            padding-top: 30px;
            padding-left: 0px;
            font-size: 17px;
            width: 270px;
            font-weight: 500;
        }
        .modal-header {
            padding-left: 10px;
        }
    }
    #connect_privat-home {
        .modal-header1 {
            padding-left: 10px;
        }
        .modal-header1 h5 {
            text-align: left;
            padding-top: 15px;
            padding-left: 0px;
        }
    }
}
@media (max-width: 476px) {
    #business-fop .total-cost {
        margin-top: 18px;
    }
    .calculator-speed{
        margin-top: 3px;
    }
    .speed-box {
    
        flex-direction: column;
    }
    #ch-business-fop .modal-content .modal-header1 h5 {
        width: 86%;
    }
    #business-fop {
        .modal-header1 {
            h5 {
                width: 290px;
            }
        }
    }
    #connect_privat-home {
        .modal-header1 .close {
            margin-top: 0px;
        }
        .modal-header1 h5 {
            margin-top: 15px;
            width: 260px;

            font-size: 18px;
        }
    }
    .end_modal {
        .on-general {
            width: 95%;
            height: 40px;
            padding: 0px;
            padding-top: 6px;
            text-align: center;
            margin: 0 auto;
        }
        .modal-header1 h5 {
            text-align: left;
            padding-top: 30px;
            margin: 0;
            padding-bottom: 10px;
            font-size: 18px;
            span {
                display: block;
            }
        }
        .modal-dialog {
            padding: 12px;
        }
    }
    .end_modal .modal-header1 .close {
        margin-top: 0px;
    }
    #my_office .modal-dialog {
        padding: 12px;
    }
    #my_office .modal-header1 h5 {
        padding-top: 27px;
        width: 189px;
        text-align: center;
        margin: 0 auto;
    }
    #my_office .modal-header1 .close {
        margin-top: 0px;
    }
    .form-my_office {
        max-width: 270px;
        width: 100%;
        margin: 0 auto;

        input {
            max-width: 270px;
            width: 100%;
        }

        .enter-btn {
            button {
                margin-bottom: 10px;
                max-width: 270px;
                width: 100%;
            }
        }
    }
}

@media (max-width: 420px) {
  
    .br-fob{
        display: block;
    }
    #ch-business-fop {
        .total-cost {
            margin-top: 15px;
        }
    }

    #business-fop {
        .modal-header1 {
            span {
                display: inline;
            }
            h5 {
                width: 240px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 400px) {
    .custom-selects-tarif .select-selected {
        max-width: 100%;
    }
    .custom-selects-tarif .select-selected {
        width: 100%;
    }
    .custom-selects-tarif {
        max-width: 97%;
        width: 97%;
    }
    .tv-show{
       
.custom-selects-tarif {
    max-width: 100%;
    width: 100%;
} 
    }
    .box-show-check {
        max-width: 100%;
    width: 100%;
    }
    .connect-dropt{
        width: 100%;
        max-width: 100%;
    }
    
    .form-connect input {
        width: 97%;}
    .con-mob .modal-header1 h5{
width: 260px;
    }
    .con-mob .modal-body1{
        
        .count-channels{
            flex-direction: row;
            padding-right: 10px;
            margin-bottom: 20px;
        }
        .no-limit{
            margin-left: 20px;
            font-size: 18px;
        }
        .total-cost{
            margin-bottom: 0px;
            font-size: 18px;
            br{
                display: none;
            }
            span {
                font-size: 18px;
            }
        }
    }
    .modal-body1 .count-minutes{
        padding-right: 10px;
        margin-bottom: 20px;
    }
}
